{
	admin localhost:2019
}

{$APP_ADDRESS:http://localhost} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	reverse_proxy {
		dynamic a web 3000 {
			refresh 5s
			versions ipv4
		}
		lb_try_duration 5s
	}

}
